* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flowers {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

img {
    height:100%;
    width:100%;
}

